@page
<form method="post" asp-page="/Register">
    <div>
        <label>用户名</label><input type="text" name="UserName" />
    </div>
    <div>
        <label>密码</label><input type="password" name="Password" />
    </div>
    <div>
        <button type="submit">登录</button>
    </div>
</form>
